table.table
  thead
    tr
      th scope="col"  Image
      th scope="col"  Name
      th scope="col"  Price
      th scope="col"  Quatity
      th scope="col"  Delete Item
      th scope="col"  Total
  tbody
    - if session[:carts].present?
      - @products.each do |product|
        tr
          td
            img.card-img-top alt=("Card image cap") src="#{product.imgUrl}"
          td= product.name
          td= product.price
          td
            = form_for Cart.new, url: cart_change_path(id: product.id), remote: true do |f|
              input name="quatity" type="number" value="#{session[:carts][product.id.to_s]}" /
              = f.submit class: 'btn btn-primary'
          td= link_to 'Delete Item', cart_delete_path(id: product.id), method: :delete , class: 'btn btn-primary', remote: true
          td id=('subTotal-'+product.id.to_s) = session[:carts][product.id.to_s] * product.price
= link_to 'Empty Cart', empty_cart_path, method: :delete, class: 'btn btn-primary'
